* {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
 /*    background-image: url(../img/fondo\ cuadros.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center; */
 
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.text1{
    font-size: 80px;
    color: lightpink;
    position: absolute;
    top: 10px;
    left: 1050px;
}
/* .centrado{
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado p {
   font-size: 25px;
 }
 .centrado p span {
  color: red;
 } */


 .lugar__dia {
   text-align: center;
     
}
h2 {   
  text-align: center;       
  font-family: 'Oleo Script Swash Caps', cursive;                               
    font-size: 40px;
    color: red;
}
.ctext1 {
    font-size: 25px;
 }
 .ctext2 {
    font-size: 18px;
 }
 .fcc-btn { 
     font-size: 20px;
     text-decoration: none;
     border-bottom: 10px;
 }
 .vestimenta { 
     font-size: 30px;
 } 
 .vtext {
  font-family: 'Tangerine', cursive; 
     font-size: 30px;
  }
  .vtext1 {
    font-size: 21px;
  }
  .fotos { 
      text-align: center;
  }

  .titulo__fotos {
    font-size: 25px;
    text-align:center ;
  }
  .titulo__video {
    font-size: 25px;
    text-align: center;
  }

  .asistencia_contenedor {
    text-align: center;
  }
  .titulo__asistencia {
    font-size: 28px;
    font-family: 'Rock Salt', cursive;
  }
  .conf_text {
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
  }
/* .rounded float-start { 
    width: 50px;
}
 */
 @media screen and (min-width: 480px) {


.cuenta__regresiva  {
  text-align: center;
}
.cuenta__regresiva p {
  font-family: sans-serif;
  font-size: 30px;
  color: black;
}
span {
  font-size: 30px;
}
#days {
  font-size: 28px;
}
.titulo__contador {
  text-align: center;
}
.vestimentaf {
  background-color: burlywood;
}
 }

 @media screen and (max-width: 570px) {
  .cuenta__regresiva p {
    font-size: 20px;
    text-align: center;
  }
  .cuenta__regresiva p span {
   color: red;
  }
  .titulo__contador {
    /* text-align: center; */
  }
 }
  
 video source {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 